@import "https://cdn.jsdelivr.net/npm/geist@latest/font/sans.css";

:root {
  --font-geist-sans: "GeistSans", "GeistSans Fallback", sans-serif;
}

body {
  font-family: var(--font-geist-sans);
  padding: 0;
  margin: 0;

}
